@model IEnumerable<SMA.MVC.ViewModels.ImageVM>
@{
    ViewBag.Title = "Index";
}

<center><h2>Index</h2></center>

@if (Model==null)
{
<center> <span class="alert-info">No images object</span></center>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Image Preview</th>
                <th>Created by user</th>
                <th>Image url</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                

            <tr>
                <td>@item.ImageId</td>

                <td><img src="@item.ImageUrl" width="60" height="60"  > </td>

                <td>@item.CreatedByUserId</td>
                <td>@item.ImageUrl</td>
                <td>@item.CreatedOn</td>
                <td>@item.UpdatedOn</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.ImageId }) / @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })</td>
            </tr>
            }
        </tbody>
    </table>
}