@using Microsoft.AspNetCore.Http;
@model IEnumerable<SMA.MVC.ViewModels.NotificationVM>
@{
    ViewBag.Title = "Index";
}

<center><h2>Index</h2></center>

@if (Model == null)
{
<center> <span class="alert-info">No notifications object</span></center>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Created at</th>
                <th>IsRead</th>
                <th>Sender</th>
                <th>Recepiant</th>
                <th>PostId</th>
                <th>Type</th>
                <th>CreatedOn</th>
                <th>UpdatedBy</th>
                <th>UpdatedOn</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in  Model)
            {



            <tr>
                <td>@item.NotificationId</td>
                <td>@item.CreatedOn</td>
                <td>@item.IsRead</td>

                <td>@item.RecipientUserId </td>
                <td>@item.RecipientUserId </td>
                <td>@item.PostId</td>
                <td>@item.Type</td>
                <td>@item.CreatedOn</td>
                <td>@item.UpdatedBy</td>
                <td>@item.UpdatedOn</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.NotificationId }) / @Html.ActionLink("Delete", "Delete", new { id = item.NotificationId })</td>
            </tr>
            }
        </tbody>
    </table>
}