
@model IEnumerable<SMA.MVC.ViewModels.PostVM>
@{
    ViewBag.Title = "Index";
}

<center><h2>Posts</h2></center>
<!-- <a href="/Post/Create"><img src="~/img/add.png" width="40" height="40" /></a> -->

@if (Model == null)
{
    <center><span class="alert-info">No posts object</span></center>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Image id</th>
                <th>Created by user</th>
                <th>Post body</th>
                <th>CreatedOn</th>
                <th>UpdatedBy</th>
                <th>UpdatedOn</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

            <tr>
                <td>@item.PostId </td>
                <td>@item.ImageId</td>
                <td>@item.CreatedByUserId</td>
                <td>@item.PostBody</td>
                <td>@item.CreatedOn</td>
                <td>@item.UpdatedBy</td>
                <td>@item.UpdatedOn</td>

                <td>@Html.ActionLink("Edit", "Edit", new { id = item.PostId }) / @Html.ActionLink("Delete", "Delete", new { id = item.PostId })</td>
            </tr>
            }

        </tbody>
    </table>
}


