@model IEnumerable<SMA.MVC.ViewModels.PostVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/User/Create"><img src="~/img/add.png" width="40" height="40" /></a>

@if (!Model.Any())
{
    <span class="alert-info">No posts object</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Image id</th>
                <th>Created by user</th>
                <th>Post body</th>
                <th>Likes </th>
                <th>Comments </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td>@item.PostId </td>
                    <td>@item.GetImagePathByImageId(item.ImageId)</td>
                    <td>@item.GetByUserIdTheFullNameOfUser(item.CreatedByUserId)</td>
                    <td>@item.PostBody</td>
                    <td>@item.GetLikesCountByPostId(item.PostId); </td>
                    <td>@item.GetLikesCountByPostId(item.PostId) </td>

                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.PostId })</td>
                </tr>
            }
        </tbody>
    </table>
}


