@model IEnumerable<SMA.MVC.ViewModels.PostVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <span class="alert-info">No user object</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Post body</th>
                <th>Image</th>
                <th>Likes</th>
                <th>Comments</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.PostId</td>
                <td>@item.PostBody</td>
                <td>@item.ImageId</td>  <!-- Here -->
                <td>@item.LikeCount</td>
                <td>@item.CommentCount</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.PostId })</td>
            </tr>
            }
        </tbody>
    </table>
}