@model IEnumerable<SMA.MVC.ViewModels.CommentVM>?
@{
    ViewBag.Title = "Index";
}

<center><h2>Index</h2></center>

@if (Model==null)
{
<center><span class="alert-info">No comments object</span></center>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>CommentBody</th>
            <th>CreatedByUserId</th>
            <th>PostId</th>
            <th>CreadenOn</th>
            <th>UpdatedOn</th>
            <th>UpdatedBy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>@item.CommentId</td>
            <td>@item.CommentBody</td>
            <td>@item.CreatedByUserId</td>
            <td>@item.PostId</td>
            <td>@item.CreatedOn</td>
            <td>@item.UpdatedOn</td>
            <td>@item.UpdatedBy</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) / @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })</td>
        </tr>
            }
    </tbody>
</table>
}