@model IEnumerable<SMA.MVC.ViewModels.UserVM>
@{
    ViewBag.Title = "Index";
}

<center><h2>Index</h2></center>

@if (Model == null)
{
    <center><span class="alert-info">No user object</span></center>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>User email</th>
                <th>First name</th>
                <th>Midle name</th>
                <th>Location</th>
                <th>Bio</th>
                <th>Website</th>
                <th>CreatedOn</th>
                <th>UpdatedBy</th>
                <th>UpdatedOn</th>

                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserEmail</td>
                <td>@item.FirstName</td>
                <td>@item.MidleName</td>
                <td>@item.LastName</td>

                <td>@item.Location</td>
                <td>@item.Bio</td>
                <td>@item.Website</td>

                <td>@item.CreatedOn</td>
                <td>@item.UpdatedBy</td>
                <td>@item.UpdatedOn</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) /
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>

            </tr>
            }
        </tbody>
    </table>
}