@model IEnumerable<SMA.MVC.ViewModels.UserVM>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (!Model.Any())
{
    <span class="alert-info">No user object</span>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>User email</th>
                <th>First name</th>
                <th>Midle name</th>
                <th>Location</th>
                <th>Bio</th>
                <th>Website</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.UserId</td>
                <td>@item.UserEmail</td>
                <td>@item.FirstName</td>
                <td>@item.MidleName</td>
                <td>@item.LastName</td>
              
                <td>@item.Location</td>
                <td>@item.Bio</td>
                <td>@item.Website</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.UserId })</td>
            </tr>
            }
        </tbody>
    </table>
}